.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: normal;
    align-content: normal;
    margin: 1rem;
    row-gap: 1rem;

  }

  header {
    position:sticky
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    max-height: fit-content;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .flex-items {
      background-color: blueviolet;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
      float: left;
  }

  a {
      display: block;
      padding: 8px;
      background-color: #dddddd;
  }
footer {
  float: right;
}

